html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Circe', sans-serif;
  color: $primary;
  background-color: $white;
}


img {
  max-width: 100%;
  height: auto;
}


button {
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding: 70px 0;
}

.container {
  max-width: 1420px;
  padding: 0 50px;
  margin: 0 auto;
}

.promo {
  display: flex;
  gap: 16px;
  align-items: baseline;
  margin-bottom: 20px;

  &-price {
      text-decoration: line-through;
      color: $planPrice;
      font-size: 28px;
      font-weight: 400;
      line-height: 30.8px;
  }
  
  &-text {
      color: $planText;
      font-size: 40px;
      font-weight: 700;
      line-height: 44px;
  }
}

.title {
  font-size: 60px;
  font-weight: 400;
  line-height: 66px;
  margin-bottom: 24px;
  position: relative;

  &-subtext {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 52px;
  }

  &-text {
    &_subtitle {
        display: block;
    }

    &_promo {
        display: inline-block;
        height: 54px;
        font-size: 26px;
        font-weight: 700;
        line-height: 28.6px;
        padding: 14px 20px 11px 20px;
        border-radius: 64px;
        vertical-align: middle;
        background: linear-gradient(244.87deg, rgba(250, 209, 38, 0.996) 10.67%, #FF544F 173.75%);
    }

    &_orange {
        color: $primaryLight;
    }

  }
}

.form {

  &__button {
    color: $primary;
    width: 100%;
    padding: 20px 10px;
    border-radius: 8px;
    background-color: $planText;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    border-color: transparent;
  }
}


// @include tablet {
//   body {
//     background-color: red;
//   }
// }

// @include laptop {
//   body {
//     background-color: green;
//   }
// }

// @include desktop {
//   body {
//     background-color: blue;
//   }
// }
