.gift {
    
    padding-bottom: 130px;

    &__wrapper {
        display: flex;
        gap: 110px;
        align-items: center;
    }

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__button {
        width: 320px;
        height: 64px;
    }
}