.logo {
    width: 300px;
    margin-bottom: 100px;
    
    @include laptop {
        width: 220px;
        margin-bottom: 50px;
    }

    @include tablet {
        width: 220px;
        margin-bottom: 50px;
    }
}

.header {

    &__section {
        padding: 40px 0 94px 0;

        @include laptop {
            padding: 50px 0 71px 0; 
        }
    }

    &__wrapper {
        width: 657px;
        position: relative;

        @include laptop {
            width: 559px;
        }
    }

    &-list{
        display: flex;
        gap: 8px;

        &__item{
            display: flex;
            gap: 8px;
            padding: 12px 18px;
            border-radius: 64px;
            background-color: $headerItemBG;

            @include laptop {
                padding: 8px 15px;
            }

            &-icon {
                height: 24px;
                width: 24px;
            }

            &-text {
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;

                @include laptop {
                    font-size: 16px;
                    line-height: 120%;
                }
            }
        }
    }

    &__hero {
        position: absolute;
        right: -600px;
        top: -165px;
    }
}