.intensive-program {

    padding-top: 140px;

    &__wrapper {
        background-color: $planBG;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 158px;
        border-radius: 32px;
    }

    &__title {
        text-align: center;
        color: $white;

        margin-bottom: 73px;
    }

    &__subtitle {
        padding-top: 24px;
        display: block;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        width: 592px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 55px 32px;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    &__item {
        width: 486px;
        padding: 56px 32px 32px 32px;
        background-color: $white;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        position: relative;

        &-counter {
            position: absolute;
            top: -23px;
            left: 50%;
            transform: translateX(-50%);
            color: $primary;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            background-color: $programCounter;
            border-radius: 50px;
            width: 120px;
            padding: 11px 30px;
        }
    };

    &__item-title {
        font-size: 40px;
        font-weight: 400;
        line-height: 44px;
    }

    &__form {
        width: 100%;
    }

}
.program-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.program-list {

    &__item {
        background-image: url(../img/dot.png);
        background-position: 0 8px;
        background-size: 5px 5px;
        background-repeat: no-repeat;
        padding-left: 13px;
        margin-bottom: 4px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }
}

.program-result {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    background-color: $headerItemBG;
    border-radius: 8px;
    padding: 10px 12px;

    &__title {
        background-image: url(../img/star.png);
        background-position: 0 5px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        padding-left: 22px;
        margin-bottom: 10px;
    }
}