$primary: #1E212A;
$primaryLight: #FD883E;
$primaryDark: #605F5F;

$secondary: #FFFFFF;
$secondaryDark: #6B6B6B;

$headerItemBG: #F2F1F1;
$planBG: #2B2F3A;
$planPrice: #96979B;
$planText: #FFC718;

$programCounter: #FAD127;

$superHeroBG: #F2F1F1;

$registerList: #3D424E;
$registerInputBG: #F1F1F1;
$registerInputPlaceholder: #A0A0A0;

$black: #292121;
$white: #FFF;

$tablet: 768px;
$laptop: 769px;
$desktop: 1025px;

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin font($name, $weight) {
  font: {
    family: $name;
    weight: $weight;
    display: swap;
  }
  src: url("../fonts/#{ $name }-#{ $weight }.woff2")  format("woff2"),
    url("../fonts/#{ $name }-#{ $weight }.woff")  format("woff"),
}

